<!doctype html>
<title>Hello from Flask</title>
<head>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
<div class="container-fluid">

    <p class="d-block text-sm-left">Current lbrycrd Height: {{ height }}</p>
    <p class="d-block text-sm-left">Last Database Update: {{ working_data.get('last_run_height', 'never') }}</p>
    <p class="d-block text-sm-left">Expiring Height (h - 262974): {{ height - 262974 }}</p>
    <p class="d-block text-sm-left">Red is today, yellow in 7 days, green in 15 days, last value is one month ahead.</p>
    <div id="tester" class="row"></div>
    <h1>EXPIRING:</h1>
    <div class="row">
            {% for ((height, claim_id), name) in working_data['expiring'] %}
                <div class="col">
                {{ name }}@{{ height }}
                <a class="btn btn-primary" href="https://explorer.lbry.io/claims/{{ claim_id }}">Block Explorer</a>
                <a class="btn btn-danger" href="/reclaim/{{ height }}/{{ claim_id }}/{{ name }}">Reclaim</a>
                </div>
            {% endfor %}

    </div>
    <h1>EXPIRED:</h1>
    <div class="row">
        {% for ((height, claim_id), name) in working_data['expired'] %}
            <div class="col">
                {{ name }}@{{ height }}
                <a class="btn btn-primary" href="https://explorer.lbry.io/claims/{{ claim_id }}">Block Explorer</a>
                <a class="btn btn-danger" href="/reclaim/{{ height }}/{{ claim_id }}">Reclaim</a>
            </div>
        {% endfor %}

    </div>
</div>
<script>
	TESTER = document.getElementById('tester');
	$(document).ready(function (){
	    $.getJSON( "/stats/", function( resp ) {
            Plotly.plot( TESTER, resp, {
                margin: { t: 0 },
                shapes: [
                    {
                        type: 'line',
                        y0: 0,
                        x0: {{ height - 262974 }},
                        y1: 1000,
                        x1: {{ height - 262974 }},
                        line: {
                            color: 'red',
                            width: 2.5
                        }},
                    {
                        type: 'line',
                        y0: 0,
                        x0: {{ height - 262974 + 576*7 }},
                        y1: 1000,
                        x1: {{ height - 262974 + 576*7}},
                        line: {
                            color: 'yellow',
                            width: 2.5
                        }},
                    {
                        type: 'line',
                        y0: 0,
                        x0: {{ height - 262974 + 576*15 }},
                        y1: 1000,
                        x1: {{ height - 262974 + 576*15}},
                        line: {
                            color: 'green',
                            width: 2.5
                        }},
                ]

    })})});
</script>
</body>
